 <!-- Footer -->

 <% if(typeof showFooter === 'undefined' || showFooter) {%>
 <footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-links">
                <a href="/packages/domestic/about">About Us</a>
                <a href="/contact-us">Contact Us</a>
                <a href="/privacy-policy">Privacy Policy</a>
                <a href="/cancellation-policy">Cancellation Policy</a>
                <a href="/refund-policy">Refund Policy</a>
            </div>
            <div class="footer-info">
                <p>&copy; 2024 Wanderer. All rights reserved.</p>
            </div>
        </div>
    </div>
  </footer>
<% } %>